# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.feat

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.li
*.gz

# Executables
*.exe
*.out
*.app

# Models
*.bin
*.npy
*.bz2
*.index
*.data*

# Vectors
*.vec
*.pb

#Data
*.txt
*.csv
parser/.DS_Store
.gitignore
.DS_Store
skipgram/en_wiki_word2vec_300.txt
cbow/en_wiki_word2vec_300.txt
vector_model/skipgram/en_wiki_word2vec_300.txt
.gitignore§
vector_model/cbow/en_wiki_word2vec_300.txt
aclImdb/imdb.vocab
aclImdb/test/labeledBow.feat
aclImdb/train/unsupBow.feat
aclImdb/train/labeledBow.feat
bert/training/aclImdb/imdb.vocab
.gitignore
bert/training/aclImdb/train/unsupBow.feat
