:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --particle-color: #ffffff;
    --link-color: #ffffff;
    --global-line-height-text: 1.1;
    --global-line-height-heading: 1.3;
    --global-letter-spacing-heading: -0,5;
    --global-letter-spacing-text: 0.5;
}

body{
    background-color: var(--background-color) !important;
    font-family: 'Poppins', sans-serif !important;
}

.App {
    text-align: center;
}

h2, h4{
    line-height: var(--global-line-height-heading) !important;
    letter-spacing: var(--global-letter-spacing-heading);
}

.loadingHeading{
    line-height: var(--global-line-height-heading) !important;
    letter-spacing: var(--global-letter-spacing-heading);
    padding-right: 15px;
}

.loadingParagraph{
    margin-top: 20px;
    font-size: smaller;
}

#search-form{
    border-radius: 25px;
    position: relative;
    margin-top: auto;
}

#search-form-control{
    border-radius: 25px;
    position: relative;
    margin-top: auto;
}

#search-button{
    z-index: 9999;
    border: 0px;
    background-color: transparent ;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#main-phrase{
    margin-top: 25%;
}

#slogans-id{
    margin-top: 45%;
    color: var(--text-color);
    font-weight: bold;
}

/* navbar login and register modals */

#person-icon{
    font-size: 25px;
}

.navbar-dark{
    background-color: transparent !important;
}

#navbar-brand{
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    letter-spacing: var(--global-letter-spacing-heading);
    line-height: var(--global-line-height-heading);
}

h2{
    color: var(--text-color) !important;
}

#nav-link{
    color: var(--text-color) !important;
}

.modal-dialog{
    width: 100vw;
    min-height: fit-content;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body{
    min-height: fit-content;
}

.modal-header{
    text-align: center !important;
    color: var(--text-color) !important;
    border: none !important;
    letter-spacing: var(--global-letter-spacing-heading) !important;
    justify-content: center !important;
    padding: 0% !important;
}

.modal-title{
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: var(--global-line-height-heading) !important;
    font-family: 'Poppins',sans-serif !important;
    letter-spacing: var(--global-letter-spacing-heading) !important;
}

.modal-content{
    min-height: fit-content !important;

    width: 400px !important;
    background-color: rgba(255,255,255,0.2) !important;
    border-radius: 10px !important;
    backdrop-filter: blur(20px) !important;
    border: 2px solid rgba(255,255,255,0.1) !important;
    box-shadow: 0 0 40px rgba(8,7,16,0.6) !important;
    padding: 50px 35px !important;
    font-family: 'Poppins',sans-serif !important;
    color: var(--text-color) !important;
}

.modal-footer{
    border: none !important;
    min-height: fit-content;
}

#login-form-group{
    margin-top: 10px;
}

#login-form-label{
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#login-form-control{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#login-form-control::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#login-form-control:focus {
    background-color: var(--text-color);
    color: #000000;
}

#login-form-control-pass{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}
#login-form-control-pass::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#login-form-control-pass:focus {
    background-color: var(--text-color);
    color: #000000;
}

#email{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#email::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#email:focus {
    background-color: var(--text-color);
    color :var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}

#password{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#password::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#password:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}

#password_confirmation{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#password_confirmation::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#password_confirmation:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}


#organizationName{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#organizationName::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#organizationName:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}


#fullName{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#fullName::placeholder{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color);
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#fullName:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}


#formRegisterIsJournalist{
    display: block;

    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}


#employmentType{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
    color: var(--text-color);
    font-family: 'Poppins',sans-serif;

}

#employmentType:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}


.custom-select option {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing-text);
}



#login-button{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    letter-spacing: var(--global-letter-spacing-heading);
    line-height: var(--global-line-height-heading);
}

#register-button{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: rgba(255,255,255,0.27);
    color: var(--text-color);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    border-radius: 3px;
    letter-spacing: var(--global-letter-spacing-heading);
    line-height: var(--global-line-height-heading);
    
}

#previous-button{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: rgba(255,255,255,0.27);
    color: var(--text-color);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    border-radius: 3px;
    letter-spacing: var(--global-letter-spacing-heading);
    line-height: var(--global-line-height-heading);
    
}

#next-button{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: rgba(255,255,255,0.27);
    color: var(--text-color);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    border-radius: 3px;
    letter-spacing: var(--global-letter-spacing-heading);
    line-height: var(--global-line-height-heading);
    
}

/* Search results cards */

.card{
    height: 300px !important;
    width: 400px !important;
    background-color: rgba(255,255,255,0.2) !important;
    box-shadow: 0 0 40px rgba(8,7,16,0.6) !important;
    backdrop-filter: blur(20px) !important;
    border-radius: 10px !important;
    border: 2px solid rgba(255,255,255,0.1) !important;
    margin-top: 30px !important;
    font-family: 'Poppins',sans-serif !important;
}

#card-title-container {
  position: relative;
  min-width: 100%;
  height: 150px; 
  padding: 0;
 
}

.outer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--background-color);
    position: relative;
    margin: auto;
    top: 15%;
}

.inner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
}


.orbit-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: orbit 2.5s linear forwards;
  }
  

.dot {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #ffffff;
position: absolute;
top: 4px;
left: 50%;
transform: translate(-50%, -10px); 
}


@keyframes orbit {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(var(--rotation));
}
}

#loader-sceond-col{
display: flex;
align-items: flex-start;
}
.loader {
display: inline-flex;
gap: 5px;
animation: l3-0 1s infinite;
transform-origin: 50% calc(100% + 2.5px);
z-index: 999999;
}
.loader:before,
.loader:after {
content: "";
width: 25px;
aspect-ratio: 1;
box-shadow: 0 0 0 3px inset #fff;
z-index: 999999;
}
.loader:after {
transform-origin: -2.5px calc(100% + 2.5px);
animation: l3-1 1s infinite;
z-index: 999999;
}
@keyframes l3-1 {
50%,
100% {transform:rotate(180deg)}
}
@keyframes l3-0 {
0%,
50%  {transform:rotate(0deg)}
100% {transform:rotate(90deg)}
}
#progresbar-rating{
color: var(--text-color);
z-index: 9999;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
font-family: 'Poppins',sans-serif;
letter-spacing: var(--global-letter-spacing-heading);
line-height: var(--global-line-height-heading);
}

@keyframes GFG {
0% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-40px);
}

100% {
    transform: translate(-50%, -50%) rotate(calc((var(--value) / 100) * 360deg)) translateY(-40px);
}
}

.custum-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: var(--text-color);
  font-family: 'Poppins',sans-serif;
  top: 2%;
  letter-spacing: 0.5px;
  line-height: var(--global-line-height-heading);
}

.card-body a{
    font-family: 'Poppins',sans-serif;
    color: var(--text-color) !important;
    letter-spacing: var(--global-letter-spacing-heading) !important;
    line-height: var(--global-line-height-heading) !important;
}

.card-body h4{
  margin: 10px;
  font-family: 'Poppins',sans-serif;
  color: var(--text-color);
  letter-spacing: var(--global-letter-spacing-heading);
}

.section3{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
  }

  .section1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
  }
  .section2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
  }

#navBtn{
    background: transparent;
    color: var(--text-color);
    border: none;
}

#scrollBtnUp{
    border-radius: 50%;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    position: absolute;
    bottom: 80px;
    right: 10px;
}

#scrollBtnDown{
    border-radius: 50%;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#waitlist{
    margin-top: 50px;
    min-width: fit-content;
    width: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

p{
    color: var(--text-color);
}

#seaction1Row{
    margin-top: 50px;
    
}

#profile-container{
    border: 2px solid var(--text-color);
    max-width: 1000px;

    position: relative;
    margin-top: 300px;
    color: var(--text-color);

}


#profile-person-icon{
    font-size: 200px;
    margin-bottom: 70px;
    margin-top: 50px;
    color: var(--text-color);
}

#ProfileIsJournalist{
    display: block;

    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: transparent;
    margin-top: 0px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
}

#ProfileIsJournalistCol1{
    width: 10px;
}

#update-profile-btn{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
    color: var(--text-color);
    background-color: rgba(255,255,255,0.27);
    border: 1px solid var(--text-color);
}

#extra-options-profile-row{
    
    border-top: 2px solid var(--text-color);
}

#update-email-btn{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
    color: var(--text-color);
    background-color: rgba(255,255,255,0.27);
    border: 1px solid var(--text-color);
}

#update-pwd-btn{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: var(--global-letter-spacing-text);
    line-height: var(--global-line-height-text);
    color: var(--text-color);
    background-color: rgba(255,255,255,0.27);
    border: 1px solid var(--text-color);
}

#modal-change-email{
    align-items: center;
    justify-content: center;
}

#modal-change-email-header{
    text-align: center !important;
    color: var(--text-color) !important;
    border: none !important;
    letter-spacing: var(--global-letter-spacing-heading) !important;
    justify-content: center !important;
    padding: 0% !important;
}

#modal-change-email-body{
    min-height: fit-content;
}

#modal-change-email-footer{
    border: none !important;
    min-height: fit-content;
}

